<nav class="navbar navbar-expand-lg bg-dark navbar-dark nav">
    <div class="container">
        <a class="letra-logo navbar-brand d-flex justify-content-start align-items-center fw-bold" href="index.html">
            <img src="https://yt3.ggpht.com/D6lEu3umPkVbTDFBWyr3JKcW79faMaKIqdPk-CK5OWmZsERy8oaVGlVCNixh5nHIWBGnG79aZC0=s900-c-k-c0x00ffffff-no-rj"
                alt="" width="40" height="40" class="mx-1 rounded-circle">
            RED SOCIAL
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto  mb-lg-0">
                <a class="navbar-brand " routerLink="">
                    <img src="assets/img/Inicio.png" alt="" width="30" height="24"
                        class="d-inline-block align-text-top">
                    inicio
                </a>
                <a class="navbar-brand" routerLink="/contactenos">
                    <img src="assets/img/telefono.png" alt="" width="30" height="24"
                        class="d-inline-block align-text-top">
                    Contacto
                </a>
                <a class="navbar-brand" routerLink="/login">
                    <img src="assets/img/login.png" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
                    login
                </a>
                <a class="navbar-brand" routerLink="/registro">
                    <img src="assets/img/editar.png" alt="" width="30" height="24"
                        class="d-inline-block align-text-top">
                    registro
                </a>
                <a class="navbar-brand" routerLink="/usuario-registrado">
                    <img src="assets/img/use.png" alt="" width="30" height="28"
                        class="d-inline-block align-text-top rounded-circle">
                    Ver usuarios
                </a>
            </ul>
        </div>
    </div>
</nav>
