<section class="fondo1 py-5">
    <form class="fondoForm my-5 pb-3 row g-3 rounded offset-3 col-6" [formGroup]="contactoForm" (ngSubmit)="contacto()">
        <h1 class="text-center fw-bold">Contactenos!</h1> 
        <div>
            <label for="inputPassword4" class="form-label">Correo</label>
            <input type="email" formControlName="correo" class="form-control" id="inputPassword4">
            <span class="text-danger fw-bold"
                *ngIf="contactoForm.get('correo')?.hasError('required') && contactoForm.get('correo')?.touched">Correo
                Obligatorio</span>
            <span class="text-danger fw-bold" *ngIf="contactoForm.get('correo')?.hasError('pattern') && contactoForm.get('correo')?.touched">Su correo es invalido o esta mal escrito</span>
        </div>
        <div>
            <label for="inputAddress" class="form-label">Número de teléfono</label>
            <input type="text" formControlName="celular" class="form-control" id="inputAddress">
            <span class="text-danger fw-bold"
                *ngIf="contactoForm.get('celular')?.hasError('required') && contactoForm.get('celular')?.touched">Número
                de teléfono obligatorio</span>
        </div>
        <div>
            <label for="inputZip" class="form-label">Asunto</label>
            <input type="text" formControlName="asunto" class="form-control" id="inputZip">
            <span class="text-danger fw-bold"
                *ngIf="contactoForm.get('asunto')?.hasError('required') && contactoForm.get('asunto')?.touched">Asunto
                obligatorio</span>
        </div>
        <div>
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
            <textarea formControlName="mensaje" class="form-control" id="exampleFormControlTextarea1"
                rows="4"></textarea>
            <span class="text-danger fw-bold"
                *ngIf="contactoForm.get('mensaje')?.hasError('required') && contactoForm.get('mensaje')?.touched">Mensaje
                obligatorio</span>
        </div>
        <div class="offset-6">
            <button type="submit" class="btn btn-dark" [disabled]="contactoForm.invalid">Enviar</button>
        </div>
    </form>
</section>