<section class="navabar">
    <div class="bg-img">
        <div class="content my-5">
            <header>Login Form</header>
            <form action="">
                <div class="field">                
                    <span class="fa fa-user"></span>              
                    <input type="text" placeholder="Email">
                </div>
                <div class="field space">
                    <span class="fa fa-lock"></span>              
                    <input type="password" placeholder="Password">
                </div>
                <div class="pass">
                    <a href="#" class="h5">Olvidaste tu contraseña?</a>
                </div>
                <div class="field">
                    <input type="submit" value="Iniciar sesíon">
                </div>
                <div class="login h5 m-2">O inicia sesíon con</div>
                <div class="link">
                    <div class="facebook">
                        <i class="fab  fa-facebook"><span class="fw-bold">Facebook</span></i>
                    </div>
                    <div class="instagram">
                        <i href="#" class="fab  fa-instagram"><span>Instagram</span></i>
                    </div>
                </div>
                <div class="signup h6">No tengo cuenta?
                    <a href="/registro" class="h6">Regístrate ahora</a>
                </div>
            </form>
        </div>
    </div>
</section>