<section class="container">
</section>

<section class="container">
    <h1 class="text-center fw-bold">Busca tu producto</h1>
    <div class="d-flex">
        <input type="text" class="form-control buscador mt-5 text-center fw-bold" placeholder="">
        <button class="btn btn-link d-flex justify-content-center align-items-center">
            <img src="assets/img/search.png" alt="" width="30" height="24"
                class="d-inline-block align-text-top mt-5" alt="">
        </button>
    </div>
</section>

<section class="container my-5">
    <div class="row">
        <div class="col-8">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="https://www.yanbal.com/medias/20012786-02.jpg-Yanbal-OriginalFormat-500Wx500H?context=bWFzdGVyfGltYWdlc3wyMzQxN3xpbWFnZS9qcGVnfGhjZS9oN2EvMTAwNzM3NzY3NTA2MjIvMjAwMTI3ODZfMDIuanBnX1lhbmJhbC1PcmlnaW5hbEZvcm1hdF81MDBXeDUwMEh8OTMzNmM3YjFlZGJjYTVkNWNiZTc5OTU2ZjZjYjVkMDc0YTZlOWRjNTY4MmUxMDg2OGM0M2FmYzM1OWNmNGQzMA"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Ohm Parfum</h5>
                            <h4>$ 128.700</h4>
                            <a href="#" class="btn btn-primary fw-bold">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://www.yanbal.com/medias/20012784-02.jpg-Yanbal-OriginalFormat-500Wx500H?context=bWFzdGVyfGltYWdlc3wyNTU2N3xpbWFnZS9qcGVnfGgzNS9oZWIvMTAwNzM3NzU1NzA5NzQvMjAwMTI3ODRfMDIuanBnX1lhbmJhbC1PcmlnaW5hbEZvcm1hdF81MDBXeDUwMEh8YmYxNjAzN2Q4MzgzMzRkZmU5ZGE2ODc4YTZmMDA3YmVmZjkyMGJkZWFlZmVkMWQwYjUzYWZiNmY4Y2MyNjBhNA"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">43ºN Paralel Parfum</h5>
                            <h4>$ 148.850</h4>
                            <a href="#" class="btn btn-primary fw-bold">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://www.yanbal.com/medias/20012782-02.jpg-Yanbal-OriginalFormat-500Wx500H?context=bWFzdGVyfGltYWdlc3wyNTcyN3xpbWFnZS9qcGVnfGhhYi9oODEvMTAwNzM3NjM5MDU1NjYvMjAwMTI3ODJfMDIuanBnX1lhbmJhbC1PcmlnaW5hbEZvcm1hdF81MDBXeDUwMEh8NjlhOGE3M2IwYTgzOTA2NjZmMjYzZGRjMmNhMzk5NDkxNWUxNjFhMGI5ZTBlMTJiMjM0MzRjYjJhOTk4ZWMyMQ"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">20ºS Paralel Cologne for Men</h5>
                            <h4>$ 123.900</h4>
                            <a href="#" class="btn btn-primary fw-bold">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://www.yanbal.com/medias/20012788-02.jpg-Yanbal-OriginalFormat-500Wx500H?context=bWFzdGVyfGltYWdlc3wyMjA1M3xpbWFnZS9qcGVnfGgyYy9oOGYvMTAwNzM3NzYxNjA3OTgvMjAwMTI3ODhfMDIuanBnX1lhbmJhbC1PcmlnaW5hbEZvcm1hdF81MDBXeDUwMEh8ZDYxNDYwYjViMzdmNzM3NDRlNzdlOWJkOWZjOTU4MDg0ZjNmZjgwYzAyNzUxZmUwYzY3MzVkYmNlYjc2OTg0Ng"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zentro Eau de Parfum</h5>
                            <h4>$ 130.000</h4>
                            <a href="#" class="btn btn-primary fw-bold">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fw-bold pe-4">OFERTA <br> 35% dscto <br> Liberatta Parfum</p>
                        <img src="https://www.yanbal.com/medias/20011583-02.jpg-Yanbal-OriginalFormat-500Wx500H?context=bWFzdGVyfGltYWdlc3wyODM0NXxpbWFnZS9qcGVnfGgzMy9oOTUvMTAwNzM4MDU3MTc1MzQvMjAwMTE1ODNfMDIuanBnX1lhbmJhbC1PcmlnaW5hbEZvcm1hdF81MDBXeDUwMEh8OTliZjM0Yzg1MWJkYmY3M2E5ODQzOGY1Mjk0ODQ3ZTk5OTFmODc3ZGRiMDU1OTJiOTdkYmY4OWUzN2I5ZWVjMA"
                            class="w-25" alt="">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fw-bold pe-4">OFERTA <br> 15% dscto <br> Gaïa Parfum</p>
                        <img src="https://www.yanbal.com/medias/20012787-02.jpg-Yanbal-OriginalFormat-500Wx500H?context=bWFzdGVyfGltYWdlc3wyMDM4NnxpbWFnZS9qcGVnfGhjMS9oYjgvMTAwNzM3NzQ5ODExNTAvMjAwMTI3ODdfMDIuanBnX1lhbmJhbC1PcmlnaW5hbEZvcm1hdF81MDBXeDUwMEh8OGUwNjBiZjA1MzYxMzNkNmU5M2MyMTFmNzliZjJlNDhmNmJiODRhZDZhMjAwNjJmZjQyMzA5NDlmNTQ0OGViYw"
                            class="w-25" alt="">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fw-bold pe-4">OFERTA <br> 10% dscto <br> Arom Absolute Eau de Parfum</p>
                        <img src="https://www.yanbal.com/medias/20012792-01.jpg?context=bWFzdGVyfGltYWdlc3w0NTg3N3xpbWFnZS9qcGVnfGhlZC9oMjQvMTAwNzM3NTE5MTI0NzgvMjAwMTI3OTJfMDEuanBnfDY4ZmE0YjkyMDJjYjVkMWY1ZjdhMjcxYmI0ZTYzZDUwNzJhM2EzNDYxZDdlZTNlZGRmNTk0NDU3NzkyYzViOWU"
                            class="w-25" alt="">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fw-bold pe-4">OFERTA <br> 25% dscto <br> Temptation Eau de Parfum Mujer</p>
                        <img src="https://www.yanbal.com/medias/20012907-02.jpg-Yanbal-OriginalFormat-500Wx500H?context=bWFzdGVyfGltYWdlc3wyNzIzOXxpbWFnZS9qcGVnfGg0Yy9oMmEvMTAwNzM3OTMyMDAxNTgvMjAwMTI5MDdfMDIuanBnX1lhbmJhbC1PcmlnaW5hbEZvcm1hdF81MDBXeDUwMEh8MTRjMjdkNzBiZWE4NTY3Yjk2NWRkM2Y1MDZhZWZkMmY2OWRhMWMyZDcwODlmMzlmYzVkMmNhZDA4YmU1NTdjNw"
                            class="w-25" alt="">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fw-bold pe-4">OFERTA <br> 35% dscto <br> Ser Eau de Parfum</p>
                        <img src="https://www.yanbal.com/medias/20011520-02.jpg?context=bWFzdGVyfGltYWdlc3wxOTcwNzJ8aW1hZ2UvanBlZ3xoZGQvaDVmLzEwMDczNzc4OTc4ODQ2LzIwMDExNTIwXzAyLmpwZ3xlNTgwMmM4M2E3NjM1NzdmNjhmMTZjMmMzOGZmZjUxYzE3MWMzZDA1NGEzZjQ4ZWMzMDViODA2MjA4ZGU1OWMx"
                            class="w-25" alt="">
                    </div>
                </li>
            </ul>
            <section class="d-flex justify-content-around mt-5">
                <div class="circulo-red">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="circulo-red">
                    <i class="fa-brands fa-tiktok"></i>
                </div>
                <div class="circulo-red">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </section>
        </div>
    </div>
</section>
